{
	"openapi": "3.0.1",
	"info": {
		"title": "Pax2Pay API Documentation",
		"version": "0.1"
	},
	"servers": [
		{
			"url": "https://api.pax2pay.com/mpay2-service",
			"description": "production",
			"variables": {}
		},
		{
			"url": "https://uat.pax2pay.com/mpay2-service",
			"description": "uat",
			"variables": {}
		}
	],
	"security": [
		{
			"x-auth-token": []
		}
	],
	"tags": [
		{
			"name": "Authentication",
			"description": "Authentication to Pax2Pay is done via an username and password login, which gives a token. The token has a short lifespan and is unmodifiable by the user. Once successfully logged in, the token must be provided in an `x-auth-token` header for each subsequent request."
		},
		{
			"name": "Users",
			"description": "Users"
		},
		{
			"name": "Roles",
			"description": "Access control to Pax2Pay's sections is done through a set of roles that each user has. A role represents an action that a user can carry out - for instance, the role `card.create` allows a user to create cards. Without that role, access will be denied when the user attempts to create cards. A roleset is a set of roles, since managing many users with many individual roles would be unwieldy. A roleset will tend to represent a position in your organisation - you might have a supervisor roleset with wider privileges than a regular user, but less then a higher up admin roleset."
		},
		{
			"name": "Funding accounts",
			"description": "Funding accounts are Pax2Pay's equivalent of bank accounts. Each funding account represents an actual bank account, held with a provider. These each have balances and currencies. When a virtual card or bank transfer is made, the source funding account must be specified. Funding accounts are uniquely identifiable by their combination id of their provider code and their provider account id. Once created, the provider account id is  unchangeable. An example of this would be \"modulr\" \"A120ABTA\", or \"ixaris\" \"0Uwn66ah4haag\"."
		},
		{
			"name": "Cards"
		},
		{
			"name": "Card types",
			"description": "When requesting a card from Pax2Pay, a card type must be specified. These are different for each provider, and can be accessed dynamically with the following methods."
		},
		{
			"name": "Card options",
			"description": "Card options allows rules to be set up to generate certain cards in certain scenarios. Explain cards, criteria, how you create the card once its been searched"
		},
		{
			"name": "Bank transfers"
		},
		{
			"name": "Pending cards/transfers and limits"
		},
		{
			"name": "Booking info"
		},
		{
			"name": "Configuration"
		}
	],
	"paths": {
		"/beneficiaries/{beneficiaryId}": {
			"get": {
				"tags": [
					"Bank transfers"
				],
				"summary": "Get beneficiary",
				"description": "Gets an existing beneficiary",
				"operationId": "getBeneficiary",
				"parameters": [
					{
						"name": "beneficiaryId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "history",
						"in": "query",
						"description": "Get the edit history of the beneficary. Boolean, optional.",
						"required": false,
						"schema": {
							"type": "boolean"
						},
						"example": true
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BeneficiaryResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Bank transfers"
				],
				"summary": "Update existing beneficiary",
				"description": "Update an existing beneficiary",
				"operationId": "updateBeneficiary",
				"parameters": [
					{
						"name": "beneficiaryId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateBeneficiaryRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"202": {
						"description": "Accepted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BeneficiaryResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Bank transfers"
				],
				"summary": "Delete existing beneficiary",
				"description": "Delete an existing beneficiary",
				"operationId": "deleteBeneficiary",
				"parameters": [
					{
						"name": "beneficiaryId",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"202": {
						"description": "Accepted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/BeneficiaryResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/transfers/{providerCode}/{providerTransferId}": {
			"get": {
				"tags": [
					"Bank transfers"
				],
				"summary": "Get transfer",
				"description": "Gets a transfer",
				"operationId": "getTransfer",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"description": "Provider code",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					},
					{
						"name": "providerTransferId",
						"in": "path",
						"description": "Transfer id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TransferResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/cards": {
			"get": {
				"tags": [
					"Cards"
				],
				"summary": "Get all cards",
				"description": "Gets all existing cards",
				"operationId": "getAllCards",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/CardResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/cards/searches": {
			"post": {
				"tags": [
					"Cards"
				],
				"summary": "Search cards",
				"description": "Search cards",
				"operationId": "searchCards",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CardSearch"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/CardResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/cards/searches/{searchString}": {
			"get": {
				"tags": [
					"Cards"
				],
				"summary": "Fuzzy search cards",
				"description": "Fuzzily search cards",
				"operationId": "fuzzySearchCards",
				"parameters": [
					{
						"name": "searchString",
						"in": "path",
						"description": "String to search for",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/CardResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/v2/cards/virtual": {
			"post": {
				"tags": [
					"Cards"
				],
				"summary": "Create card",
				"description": "Creates a card",
				"operationId": "createCardV2",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateCardRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CardResponseV2"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/password/check": {
			"post": {
				"tags": [
					"Authentication"
				],
				"summary": "Check password against requirements",
				"description": "Checks if a password matches requirements, returning help if it doesn't.",
				"operationId": "checkPassword",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PasswordValidateRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/PasswordValidateResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/config/{type}": {
			"get": {
				"tags": [
					"Configuration"
				],
				"summary": "Get configuration for",
				"description": "Gets configuration for the given type",
				"operationId": "getConfigFor_1",
				"parameters": [
					{
						"name": "type",
						"in": "path",
						"description": "Configuration type",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"user",
								"organisation"
							]
						}
					},
					{
						"name": "value",
						"in": "path",
						"description": "Key",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConfigResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Configuration"
				],
				"summary": "Save configuration",
				"description": "Save or update configuration",
				"operationId": "saveConfig_1",
				"parameters": [
					{
						"name": "type",
						"in": "path",
						"description": "Configuration type",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"user",
								"organisation"
							]
						}
					},
					{
						"name": "value",
						"in": "path",
						"description": "Key",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/ConfigRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/ConfigResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Configuration"
				],
				"summary": "Delete configuration",
				"description": "Deletes existing configuration",
				"operationId": "deleteConfig_1",
				"parameters": [
					{
						"name": "type",
						"in": "path",
						"description": "Configuration type",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"user",
								"organisation"
							]
						}
					},
					{
						"name": "value",
						"in": "path",
						"description": "Key",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/credentials/{providerCode}/setup": {
			"post": {
				"tags": [
					"Configuration"
				],
				"summary": "Register customer on provider",
				"description": "Registers a customer with a provider. Not supported by all providers, not supported by all environments.",
				"operationId": "registerProvider",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CredentialRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CredentialResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/credentials/{providerCode}": {
			"get": {
				"tags": [
					"Configuration"
				],
				"summary": "Get credentials for provider",
				"description": "Get credentials for the given provider",
				"operationId": "getCredentials",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CredentialResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Configuration"
				],
				"summary": "Update credentials for provider",
				"description": "Updates an existing set of credentials for a given provider",
				"operationId": "updateCredential",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CredentialRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CredentialResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Configuration"
				],
				"summary": "Save credentials",
				"description": "Saves new credentials",
				"operationId": "saveCredentials",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CredentialRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CredentialResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Configuration"
				],
				"summary": "Delete credentials for provider",
				"description": "Deletes credentials for the given provider. This is a hard delete and is unrevertable.",
				"operationId": "deleteCredentials",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/credentials": {
			"get": {
				"tags": [
					"Configuration"
				],
				"summary": "Get all credentials",
				"description": "Get all credentials for all providers",
				"operationId": "getAllCredentials",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/CredentialResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/auth/login": {
			"post": {
				"tags": [
					"Authentication"
				],
				"summary": "Login",
				"description": "Logs the user into the system. Responds with a token.",
				"operationId": "login",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/LoginRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LoginResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/auth/relog": {
			"get": {
				"tags": [
					"Authentication"
				],
				"summary": "Refresh login",
				"description": "Login tokens exist only for a short period of time, and are unchangeable once created. If you want to extend a single login session, this will allow you to do so. A new token will be returned. The previous token will continue to function if this method has been called, until it expires.",
				"operationId": "relog",
				"parameters": [
					{
						"name": "credentials",
						"in": "query",
						"required": true,
						"schema": {
							"$ref": "#/components/schemas/RelogWithNewSessionDetailsRequest"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/LoginResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/{username}/two-factor": {
			"post": {
				"tags": [
					"Authentication"
				],
				"summary": "Register user for two factor authentication",
				"description": "Registers a user for two factor authentication",
				"operationId": "registerTwoFactorAuthentication",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "username",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/TwoFactorAuthenticationRegistrationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/TwoFactorAuthenticationRegistrationResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users": {
			"get": {
				"tags": [
					"Users"
				],
				"summary": "Gets all users",
				"description": "Gets all users",
				"operationId": "getAllUsers",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/UserResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Users"
				],
				"summary": "Create user",
				"description": "Creates a new user",
				"operationId": "createUser",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/{username}": {
			"get": {
				"tags": [
					"Users"
				],
				"summary": "Get user",
				"description": "Gets a user",
				"operationId": "getUser",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Users"
				],
				"summary": "Update user",
				"description": "Updates a user",
				"operationId": "updateUser",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserChangeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Users"
				],
				"summary": "Delete user",
				"description": "Deletes a user",
				"operationId": "deleteUser",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/searches": {
			"post": {
				"tags": [
					"Users"
				],
				"summary": "Search users",
				"description": "Search for users",
				"operationId": "searchUsers",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserSearchRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/UserResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/password": {
			"put": {
				"tags": [
					"Users"
				],
				"summary": "Change password",
				"description": "Change user's password",
				"operationId": "changePassword",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/PasswordChangeRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/{username}/limits": {
			"post": {
				"tags": [
					"Pending cards/transfers and limits"
				],
				"summary": "Set user limit",
				"description": "Sets a limit on a user",
				"operationId": "setUserLimit",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "username",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserLimitsRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Pending cards/transfers and limits"
				],
				"summary": "Remove user limit",
				"description": "Removes a limit on a user",
				"operationId": "deleteUserLimit",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "username",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UserLimitsDeleteRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/UserResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/roles": {
			"get": {
				"tags": [
					"Roles"
				],
				"summary": "Get all roles",
				"description": "Gets all available roles.",
				"operationId": "getAllRoles",
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/RoleResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/roles/{role}": {
			"get": {
				"tags": [
					"Roles"
				],
				"summary": "Get role",
				"description": "Gets a specific role.",
				"operationId": "getRole",
				"parameters": [
					{
						"name": "role",
						"in": "path",
						"description": "Role name, with . replaced with _. Eg, card.create must become card_create.",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/RoleResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/rolesets": {
			"get": {
				"tags": [
					"Roles"
				],
				"summary": "Get all rolesets",
				"description": "Gets all available rolesets",
				"operationId": "getAllRolesets",
				"parameters": [
					{
						"name": "includeRoles",
						"in": "query",
						"description": "If true, adds in the roles that each roleset contains.",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/RolesetResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Roles"
				],
				"summary": "Create roleset",
				"description": "Creates a roleset. Roleset names must be unique.",
				"operationId": "createRoleset",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateRolesetRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/RolesetResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/rolesets/{roleset}": {
			"get": {
				"tags": [
					"Roles"
				],
				"summary": "Get roleset",
				"description": "Gets a roleset by name.",
				"operationId": "getRoleset",
				"parameters": [
					{
						"name": "roleset",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/RolesetResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Roles"
				],
				"summary": "Update roleset",
				"description": "Updates an existing roleset. All fields in the request are nullable; only fields that are populated will be modified.",
				"operationId": "updateRoleset",
				"parameters": [
					{
						"name": "roleset",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateRolesetRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/RolesetResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Roles"
				],
				"summary": "Delete roleset",
				"description": "Deletes a roleset. Cannot delete a roleset whilst some users still have this roleset assigned to them.",
				"operationId": "deleteRoleset",
				"parameters": [
					{
						"name": "roleset",
						"in": "path",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK"
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/rolesets/searches": {
			"post": {
				"tags": [
					"Roles"
				],
				"summary": "Search rolesets",
				"description": "Search rolesets for various criteria",
				"operationId": "searchRolesets",
				"parameters": [
					{
						"name": "includeRoles",
						"in": "query",
						"description": "If true, adds in the roles that each roleset contains.",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/SearchRolesetsRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/RolesetResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/roles": {
			"get": {
				"tags": [
					"Roles"
				],
				"summary": "Get all users' roles",
				"description": "Gets all roles and rolesets for all users.",
				"operationId": "getUsersRoles",
				"parameters": [
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/UserRoleResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/{username}/roles": {
			"get": {
				"tags": [
					"Roles"
				],
				"summary": "Get user's roles",
				"description": "Get the roles a user has",
				"operationId": "getUsersRoles_1",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/UserRoleResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/roles/{role}/who": {
			"get": {
				"tags": [
					"Roles"
				],
				"summary": "Get users who have role",
				"description": "ets users who currently have this role.",
				"operationId": "getUsersWhoHaveRole",
				"parameters": [
					{
						"name": "role",
						"in": "path",
						"description": "Role name, with . replaced with _. eg, card.create must become card_create.",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/UserRoleResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/rolesets/{roleset}/who": {
			"get": {
				"tags": [
					"Roles"
				],
				"summary": "Get users who have roleset",
				"description": "Gets the users who have the roleset set on them.",
				"operationId": "getUsersWhoHaveRoleset",
				"parameters": [
					{
						"name": "roleset",
						"in": "path",
						"description": "Roleset name",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/UserRoleResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/{username}/roles/{role}": {
			"post": {
				"tags": [
					"Roles"
				],
				"summary": "Add role to user",
				"description": "Adds a role to a user",
				"operationId": "addUserRole",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "role",
						"in": "path",
						"description": "Role name, with . replaced with _. eg, card.create must become card_create.",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/UserRoleResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Roles"
				],
				"summary": "Remove role from user",
				"description": "Removes a role from a user",
				"operationId": "removeUserRole",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "role",
						"in": "path",
						"description": "Role name, with . replaced with _. eg, card.create must become card_create.",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/UserRoleResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/users/{username}/rolesets/{roleset}": {
			"put": {
				"tags": [
					"Roles"
				],
				"summary": "Set roleset on user",
				"description": "Sets a roleset on a user, removing any other rolesets",
				"operationId": "setUserRoleset",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "roleset",
						"in": "path",
						"description": "Roleset name",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/UserRoleResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Roles"
				],
				"summary": "Add roleset to user",
				"description": "Adds a roleset to a user",
				"operationId": "addUserRoleset",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "roleset",
						"in": "path",
						"description": "Roleset name",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/UserRoleResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"delete": {
				"tags": [
					"Roles"
				],
				"summary": "Remove roleset from user",
				"description": "Removes a roleset from a user",
				"operationId": "removeUserRoleset",
				"parameters": [
					{
						"name": "username",
						"in": "path",
						"description": "Username",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "roleset",
						"in": "path",
						"description": "Roleset name",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/UserRoleResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/funding-accounts": {
			"get": {
				"tags": [
					"Funding accounts"
				],
				"summary": "Get all funding accounts",
				"description": "Gets all funding accounts.",
				"operationId": "getAllFundingAccounts",
				"parameters": [
					{
						"name": "refresh",
						"in": "query",
						"description": "If set to true, refreshes all accounts with the provider. Default false",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/AccountResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"post": {
				"tags": [
					"Funding accounts"
				],
				"summary": "Add funding account",
				"description": "Adds a new funding account. The account must already exist on the provider's system.",
				"operationId": "saveFundingAccount",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccountCreationRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccountResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/funding-accounts/{providerCode}/{providerAccountId}": {
			"get": {
				"tags": [
					"Funding accounts"
				],
				"summary": "Get funding account",
				"description": "Gets a funding account. If the optional parameter refresh is set to true, the funding account will be updated with the provider, getting up to date balances.",
				"operationId": "getFundingAccount",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"description": "Provider code",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					},
					{
						"name": "providerAccountId",
						"in": "path",
						"description": "Funding account id",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "refresh",
						"in": "query",
						"description": "If set to true, refreshes all accounts with the provider. Default false",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccountResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			},
			"put": {
				"tags": [
					"Funding accounts"
				],
				"summary": "Update funding account",
				"description": "Updates a funding account with the data from the request body. The majority of the account data is immutable - if you need to change, for example, the provider account id, mark this one as deleted and create a new one.",
				"operationId": "updateFundingAccount",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"description": "Provider code",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					},
					{
						"name": "providerAccountId",
						"in": "path",
						"description": "Funding account id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/UpdateAccountRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/AccountResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/funding-accounts/searches": {
			"post": {
				"tags": [
					"Funding accounts"
				],
				"summary": "Search for a funding account",
				"description": "Searches for funding accounts",
				"operationId": "searchFundingAccounts",
				"parameters": [
					{
						"name": "refresh",
						"in": "query",
						"description": "If set to true, refreshes all accounts with the provider. Default false",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					},
					{
						"name": "page",
						"in": "query",
						"description": "Zero-based page index (0..N)",
						"schema": {
							"type": "integer",
							"default": "0"
						}
					},
					{
						"name": "size",
						"in": "query",
						"description": "The size of the page to be returned",
						"schema": {
							"type": "integer",
							"default": "20"
						}
					},
					{
						"name": "sort",
						"in": "query",
						"description": "Sorting criteria in the format: property(,asc|desc). Default sort order is ascending. Multiple sort criteria are supported.",
						"schema": {
							"type": "array",
							"items": {
								"type": "string"
							}
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AccountSearchRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"type": "array",
									"items": {
										"$ref": "#/components/schemas/AccountResponse"
									}
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/cards/virtual": {
			"post": {
				"tags": [
					"Cards"
				],
				"summary": "Create card",
				"description": "Creates a card. Deprecated in favour of /v2/cards/virtual",
				"operationId": "createCard",
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/CreateCardRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"201": {
						"description": "Created",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CardResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				},
				"deprecated": true
			}
		},
		"/cards/virtual/{providerCode}/{providerCardId}": {
			"get": {
				"tags": [
					"Cards"
				],
				"summary": "Get existing card",
				"description": "Gets an existing card.",
				"operationId": "getCard",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"description": "Provider code",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					},
					{
						"name": "providerCardId",
						"in": "path",
						"description": "Provider card id",
						"required": true,
						"schema": {
							"type": "string"
						}
					},
					{
						"name": "refresh",
						"in": "query",
						"description": "If set to true, updates the card with the provider. Not supported by all providers. Default value false.",
						"required": false,
						"schema": {
							"type": "boolean",
							"default": false
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CardResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/cards/virtual/{providerCode}/{providerCardId}/amend": {
			"post": {
				"tags": [
					"Cards"
				],
				"summary": "Amend existing card",
				"description": "Amend an existing card",
				"operationId": "amendCard_1",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"description": "Provider code",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					},
					{
						"name": "providerCardId",
						"in": "path",
						"description": "Provider card id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"requestBody": {
					"content": {
						"application/json": {
							"schema": {
								"$ref": "#/components/schemas/AmendCardRequest"
							}
						}
					},
					"required": true
				},
				"responses": {
					"202": {
						"description": "Accepted",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CardResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/cards/virtual/{providerCode}/{providerCardId}/freeze": {
			"get": {
				"tags": [
					"Cards"
				],
				"summary": "Freeze card",
				"description": "Freezes an existing card, temporarily blocking authorisations on the card. Can be undone by thawing.",
				"operationId": "freezeCard",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"description": "Provider code",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					},
					{
						"name": "providerCardId",
						"in": "path",
						"description": "Provider card id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CardResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"500": {
						"description": "Internal Server Error",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					}
				}
			}
		},
		"/cards/virtual/{providerCode}/{providerCardId}/thaw": {
			"get": {
				"tags": [
					"Cards"
				],
				"summary": "Thaw frozen card",
				"description": "Thaws a frozen card, allowing authorisations again.",
				"operationId": "thawCard",
				"parameters": [
					{
						"name": "providerCode",
						"in": "path",
						"description": "Provider code",
						"required": true,
						"schema": {
							"type": "string",
							"enum": [
								"conferma",
								"ixaris",
								"wex",
								"fake",
								"lodged",
								"modulr",
								"unknown",
								"pax2pay"
							]
						}
					},
					{
						"name": "providerCardId",
						"in": "path",
						"description": "Provider card id",
						"required": true,
						"schema": {
							"type": "string"
						}
					}
				],
				"responses": {
					"200": {
						"description": "OK",
						"content": {
							"application/json": {
								"schema": {
									"$ref": "#/components/schemas/CardResponse"
								}
							}
						}
					},
					"400": {
						"description": "Bad Request",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"403": {
						"description": "Forbidden",
						"content": {
							"*/*": {
								"schema": {
									"$ref": "#/components/schemas/ErrorResponse"
								}
							}
						}
					},
					"404": {
						"description": "Not Found",
[...]
